<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.mapper.ActExecutionTaskMapper">
  <resultMap id="BaseResultMap" type="com.workflow.model.ActExecutionTask">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="executionid" jdbcType="BIGINT" property="executionid" />
    <result column="deploymentdetialid" jdbcType="BIGINT" property="deploymentdetialid" />
    <result column="nodename" jdbcType="VARCHAR" property="nodename" />
    <result column="nodestatus" jdbcType="INTEGER" property="nodestatus" />
    <result column="nodetype" jdbcType="INTEGER" property="nodetype" />
    <result column="sendtime" jdbcType="TIMESTAMP" property="sendtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, executionid, deploymentdetialid, nodename, nodestatus, nodetype, sendtime
  </sql>
  <select id="selectByExample" parameterType="com.workflow.model.ActExecutionTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from act_execution_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_execution_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from act_execution_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.workflow.model.ActExecutionTaskExample">
    delete from act_execution_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.workflow.model.ActExecutionTask">
    insert into act_execution_task (id, executionid, deploymentdetialid, 
      nodename, nodestatus, nodetype, 
      sendtime)
    values (#{id,jdbcType=BIGINT}, #{executionid,jdbcType=BIGINT}, #{deploymentdetialid,jdbcType=BIGINT}, 
      #{nodename,jdbcType=VARCHAR}, #{nodestatus,jdbcType=INTEGER}, #{nodetype,jdbcType=INTEGER}, 
      #{sendtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.workflow.model.ActExecutionTask">
    insert into act_execution_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="executionid != null">
        executionid,
      </if>
      <if test="deploymentdetialid != null">
        deploymentdetialid,
      </if>
      <if test="nodename != null">
        nodename,
      </if>
      <if test="nodestatus != null">
        nodestatus,
      </if>
      <if test="nodetype != null">
        nodetype,
      </if>
      <if test="sendtime != null">
        sendtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="executionid != null">
        #{executionid,jdbcType=BIGINT},
      </if>
      <if test="deploymentdetialid != null">
        #{deploymentdetialid,jdbcType=BIGINT},
      </if>
      <if test="nodename != null">
        #{nodename,jdbcType=VARCHAR},
      </if>
      <if test="nodestatus != null">
        #{nodestatus,jdbcType=INTEGER},
      </if>
      <if test="nodetype != null">
        #{nodetype,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.workflow.model.ActExecutionTaskExample" resultType="java.lang.Long">
    select count(*) from act_execution_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update act_execution_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.executionid != null">
        executionid = #{record.executionid,jdbcType=BIGINT},
      </if>
      <if test="record.deploymentdetialid != null">
        deploymentdetialid = #{record.deploymentdetialid,jdbcType=BIGINT},
      </if>
      <if test="record.nodename != null">
        nodename = #{record.nodename,jdbcType=VARCHAR},
      </if>
      <if test="record.nodestatus != null">
        nodestatus = #{record.nodestatus,jdbcType=INTEGER},
      </if>
      <if test="record.nodetype != null">
        nodetype = #{record.nodetype,jdbcType=INTEGER},
      </if>
      <if test="record.sendtime != null">
        sendtime = #{record.sendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update act_execution_task
    set id = #{record.id,jdbcType=BIGINT},
      executionid = #{record.executionid,jdbcType=BIGINT},
      deploymentdetialid = #{record.deploymentdetialid,jdbcType=BIGINT},
      nodename = #{record.nodename,jdbcType=VARCHAR},
      nodestatus = #{record.nodestatus,jdbcType=INTEGER},
      nodetype = #{record.nodetype,jdbcType=INTEGER},
      sendtime = #{record.sendtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.workflow.model.ActExecutionTask">
    update act_execution_task
    <set>
      <if test="executionid != null">
        executionid = #{executionid,jdbcType=BIGINT},
      </if>
      <if test="deploymentdetialid != null">
        deploymentdetialid = #{deploymentdetialid,jdbcType=BIGINT},
      </if>
      <if test="nodename != null">
        nodename = #{nodename,jdbcType=VARCHAR},
      </if>
      <if test="nodestatus != null">
        nodestatus = #{nodestatus,jdbcType=INTEGER},
      </if>
      <if test="nodetype != null">
        nodetype = #{nodetype,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null">
        sendtime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.workflow.model.ActExecutionTask">
    update act_execution_task
    set executionid = #{executionid,jdbcType=BIGINT},
      deploymentdetialid = #{deploymentdetialid,jdbcType=BIGINT},
      nodename = #{nodename,jdbcType=VARCHAR},
      nodestatus = #{nodestatus,jdbcType=INTEGER},
      nodetype = #{nodetype,jdbcType=INTEGER},
      sendtime = #{sendtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>